
@{
    ViewBag.Title = "Glasses";
    Layout = "_Layout";
}

<h2 style="color: #b30000;">Glasses</h2>

@*<ul>
    @foreach (var odjel in Model.Departments)
    {
        <li>@odjel.Name</li>
    }
</ul>

<script type="text/javascript">
    var odjeli = '@Html.Raw(Json.Serialize(Model))';
    var jsonOdjeli = JSON.parse(odjeli);
    console.log(jsonOdjeli);
</script>*@
<div class="text-center">

    <table class="table table-hover" id="glasses_tablica">

        <thead id="table-head"></thead>
        <tbody id="table-body"></tbody>
    </table>
</div>
<script type="text/javascript">
    'use strict';

    //function NoviRed2(id, naz, sl) {
    //    var tablica = document.getElementById("glasses_tablica");
    //    let row = tablica.insertRow();
    //    //row.onclick = odabran(this);
    //    let ime_stupac = row.insertCell();
    //    let slika_stupac = row.insertCell();
    //    //let id_stupac = row.insertCell();
    //    row.id = id;
    //    var div = document.createElement('div');
    //    //div.style.visibility = "visibile;
    //    //div.id = id;
    //    var t_ime = document.createTextNode(naz);
    //    div.appendChild(t_ime);
    //    ime_stupac.appendChild(div);
    //    console.log(div);
    //    console.log(div.parentNode);
    //    var img = document.createElement('img');
    //    img.src = `${sl}`;
    //    img.width = 200;
    //    img.height = 200;

    //    slika_stupac.appendChild(img);
    //    //ime_stupac.innerHTML = naz;

    //    //ime_stupac.appendChild(div);
    //    console.log("TAta: " + row);
    //    row.addEventListener("click", odabranRed, false);
    //    ime_stupac.addEventListener("click", odabran1, false);
    //    slika_stupac.addEventListener("click", odabran1, false);

    //}

    function NoviRed(naz) {
        var tablica = document.getElementById("glasses_tablica");
        let row = tablica.insertRow();
        let ime_stupac = row.insertCell();
        ime_stupac.innerHTML = naz;
        //row.onclick = `odabran(${this})`;
        row.addEventListener("click", selectedGlass, false);
        //row.id = brojacId.toString();
        //brojacId++;
        //row.setAttribute("onclick", `odabran(${this})`);

    }
    //listanje èaša
    var zahtjev = new XMLHttpRequest();
    var objekt;
    //function postavi() {
    zahtjev.onreadystatechange = stanje;
    zahtjev.open('GET', 'https://www.thecocktaildb.com/api/json/v1/1/list.php?g=list', true)
    zahtjev.send();
    function stanje() {
        if (zahtjev.status == 200 && zahtjev.readyState == 4) {
            var odg = zahtjev.responseText;
            objekt = JSON.parse(odg);
            //for (var nesto of objekt.categories) {
            for (var nesto of objekt.drinks) {
                var naziv = nesto.strGlass;
                //var slika = nesto.strCategoryThumb;
                //var opis = nesto.strCategoryDescription;
                NoviRed(naziv);

            }
            //appendToTable(objekt.categories);

        }
        //}
    }
    function selectedGlass(event) {
        window.location = '/pmfst/glass';
        console.log(event.target);
        console.log(event.target.parentNode.innerHTML);
        console.log(event);
        //var ime = red.cells[0].innerHTML;
        var ime = event.target.innerHTML;
        localStorage.setItem("Naziv kategorije", `${ime}`);


    }
    //var zahtjev2 = new XMLHttpRequest();
    //function odabran(event) {
    //    console.log(event.target.innerHTML);
    //    //var ime = red.cells[0].innerHTML;
    //    var ime = event.target.innerHTML;
    //    var tabl = document.getElementById("glasses_tablica");
    //    while (tabl.rows.length > 0) {
    //        tabl.deleteRow(0);
    //    }
    //    zahtjev2.onreadystatechange = stanje2;
    //    zahtjev2.open('GET', `https://www.thecocktaildb.com/api/json/v1/1/filter.php?g=${ime} `, true)
    //    zahtjev2.send();
    //    function stanje2() {
    //        if (zahtjev2.status == 200 && zahtjev2.readyState == 4) {
    //            var odg = zahtjev2.responseText;
    //            objekt = JSON.parse(odg);
    //            //for (var nesto of objekt.categories) {
    //            for (var nesto of objekt.drinks) {
    //                var naziv = nesto.strDrink;
    //                var slika = nesto.strDrinkThumb;
    //                var id = nesto.idDrink;
    //                console.log(slika);

    //                //var opis = nesto.strCategoryDescription;
    //                 NoviRed2(id, naziv, slika);

    //            }
    //            //appendToTable(objekt.categories);

    //        }
    //    }



    //}
    var id;
    var naziv;
    var slika;
    var opis;
    var vrsta;
    let sastojcii = new Array(15);
    let kolicinee = new Array(15);
    //var userid = 1;
    var comment = "blablabla";
   // var zahtjev3 = new XMLHttpRequest();
    //function odabran1(event) {
    //    console.log(event.target.parentNode);

    //    //if (String(event.target.parentNode).includes('<tr')) {
    //    //    id = event.target.parentNode.id;

    //    //} else {
    //    //
    //    //}
    //    console.log(event.target.parentNode.parentNode);
    //    id = event.target.parentNode.parentNode.id;

    //    console.log(id);
    //    var tabl = document.getElementById("glasses_tablica");
    //    while (tabl.rows.length > 0) {
    //        tabl.deleteRow(0);
    //    }
    //    zahtjev3.onreadystatechange = stanje3;
    //    zahtjev3.open('GET', `https://www.thecocktaildb.com/api/json/v1/1/lookup.php?i=${id} `, true)
    //    zahtjev3.send();
    //    function stanje3() {
    //        if (zahtjev3.status == 200 && zahtjev3.readyState == 4) {
    //            var odg = zahtjev3.responseText;
    //            console.log("Response:" + odg);
    //            objekt = JSON.parse(odg);
    //            console.log(objekt);
    //            var tablica = document.getElementById("glasses_tablica");
    //            while (tablica.rows.length > 0) {
    //                tablica.deleteRow(0);
    //            }
    //            var nesto = objekt.drinks[0];
    //            console.log(nesto);
    //            naziv = nesto.strDrink;
    //            console.log(naziv);
    //            slika = nesto.strDrinkThumb;
    //            opis = nesto.strInstructions;
    //            vrsta = nesto.strAlcoholic;
    //            var sastojci = "<b>Ingredients:</b>" + "<br>";
    //            for (let i = 1; i < 16; i++) {
    //                const elemnt = `strIngredient${i}`;
    //                console.log(nesto[elemnt]);
    //                console.log(typeof (elemnt));
    //                console.log(nesto.elemnt);
    //                console.log(nesto.strIngredient1);
    //                if (nesto[elemnt] != "" && nesto[elemnt] != null) {
    //                    sastojcii[i - 1] = nesto[elemnt];
    //                    kolicinee[i - 1] = nesto[`strMeasure${i}`];
    //                    sastojci += "-" + nesto[`strMeasure${i}`] + " " + nesto[elemnt] + "<br>";
    //                }
    //                else {
    //                    sastojcii[i - 1] = null;
    //                    kolicinee[i - 1] = null;
    //                }

    //            }
    //            console.log(sastojcii);
    //            console.log(kolicinee);


    //            DetaljniIspis(naziv, slika, sastojci, opis, vrsta);
    //            console.log("GLASSESS");
    //            axios.post('/api/ingredients/savecourse', {
    //                "id": id,
    //                "name": naziv,
    //                "type": vrsta,
    //                "instructions": opis,
    //                "image": slika,
    //                "ingredient1": sastojcii[0],
    //                "ingredient2": sastojcii[1],
    //                "ingredient3": sastojcii[2],
    //                "ingredient4": sastojcii[3],
    //                "ingredient5": sastojcii[4],
    //                "ingredient6": sastojcii[5],
    //                "ingredient7": sastojcii[6],
    //                "ingredient8": sastojcii[7],
    //                "ingredient9": sastojcii[8],
    //                "ingredient10": sastojcii[9],
    //                "ingredient11": sastojcii[10],
    //                "ingredient12": sastojcii[11],
    //                "ingredient13": sastojcii[12],
    //                "ingredient14": sastojcii[13],
    //                "ingredient15": sastojcii[14],
    //                "measure1": kolicinee[0],
    //                "measure2": kolicinee[1],
    //                "measure3": kolicinee[2],
    //                "measure4": kolicinee[3],
    //                "measure5": kolicinee[4],
    //                "measure6": kolicinee[5],
    //                "measure7": kolicinee[6],
    //                "measure8": kolicinee[7],
    //                "measure9": kolicinee[8],
    //                "measure10": kolicinee[9],
    //                "measure11": kolicinee[10],
    //                "measure12": kolicinee[11],
    //                "measure13": kolicinee[12],
    //                "measure14": kolicinee[13],
    //                "measure15": kolicinee[14]

    //            });
    //            //.then(response => appendToTable(response.data))
    //            //.catch(function (error) {
    //            //    console.log(error);
    //            //});
    //            //timedRefresh(1000);
    //            console.log("ZA POST:-----" + id, naziv, slika, opis);

    //        }
    //    }



    //}
    //var zahtjev4 = new XMLHttpRequest();
    //function odabranRed(event) {
    //    console.log(event.target.parentNode);
    //    console.log(event.target.parentNode.parentNode);
    //    var id = event.target.parentNode.id;

    //    console.log(id);
    //    var tabl = document.getElementById("glasses_tablica");
    //    while (tabl.rows.length > 0) {
    //        tabl.deleteRow(0);
    //    }
    //    zahtjev4.onreadystatechange = stanje4;
    //    zahtjev4.open('GET', `https://www.thecocktaildb.com/api/json/v1/1/lookup.php?i=${id} `, true)
    //    zahtjev4.send();
    //    function stanje4() {
    //        if (zahtjev4.status == 200 && zahtjev4.readyState == 4) {
    //            var odg = zahtjev4.responseText;
    //            console.log("Response:" + odg);
    //            objekt = JSON.parse(odg);
    //            console.log(objekt);
    //            var tablica = document.getElementById("glasses_tablica");
    //            while (tablica.rows.length > 0) {
    //                tablica.deleteRow(0);
    //            }
    //            var nesto = objekt.drinks[0];
    //            console.log(nesto);
    //            var naziv = nesto.strDrink;
    //            console.log(naziv);
    //            var slika = nesto.strDrinkThumb;
    //            var opis = nesto.strInstructions;
    //            var vrsta = nesto.strAlcoholic;
    //            var sastojci = "Ingredients:" + "<br>";
    //            for (let i = 1; i < 16; i++) {
    //                const elemnt = `strIngredient${i}`;
    //                console.log(nesto[elemnt]);
    //                console.log(typeof (elemnt));
    //                console.log(nesto.elemnt);
    //                console.log(nesto.strIngredient1);
    //                if (nesto[elemnt] != "" && nesto[elemnt] != null) {
    //                    sastojci += "-" + nesto[`strMeasure${i}`] + " " + nesto[elemnt] + "<br>";
    //                }

    //            }


    //            DetaljniIspis(naziv, slika, sastojci, opis, vrsta);

    //        }
    //    }



    //}
    //function postavi() {

    //    console.log("DRUGI POST: " + id, comment)
    //    axios.post('/api/usercocktail/savecourse11', {
    //        "id_user": 0,
    //        "id_cocktail": id,
    //        "comment": comment
    //    });

    //}
    //function DetaljniIspis(naz, sl, sas, op, vrs) {

    //    var tablica = document.getElementById("glasses_tablica");
    //    let row = tablica.insertRow();
    //    let ime_stupac = row.insertCell();
    //    var div = document.createElement('h2');

    //    var t_naziv = document.createTextNode(naz);
    //    div.appendChild(t_naziv);
    //    //div.align - items="center";
    //    var botun = document.createElement('button');

    //    botun.class = "button button3";
    //    botun.style.backgroundColor = "#80bfff";
    //    //botun.style.border = "2px solid #e7e7e7";
    //    botun.style.border = "3px solid #80bfff";
    //    botun.style.borderRadius = "6px";
    //    botun.style.color = "white";

    //    botun.cursor = "pointer";


    //    botun.innerHTML = "<b>Add to my list!</b>";
    //    botun.addEventListener("click", postavi, false);


    //    ime_stupac.appendChild(div);
    //    ime_stupac.appendChild(botun);
    //    ime_stupac.display = "inline-block";
    //    let row1 = tablica.insertRow();
    //    let slika_stupac = row1.insertCell();
    //    let row2 = tablica.insertRow();
    //    let vrsta_stupac = row2.insertCell();
    //    let row3 = tablica.insertRow();
    //    let sastojci_stupac = row3.insertCell();
    //    let row4 = tablica.insertRow();
    //    let opis_stupac = row4.insertCell();


    //    // var div = document.createElement("div");
    //    // var t_id = document.createTextNode(id);
    //    // div.appendChild(t_id);
    //    //ime_stupac.appendChild(t_id);
    //    var img = document.createElement('img');
    //    img.src = `${sl}`;
    //    //var video = document.createElement('iframe');
    //    //console.log(vid);
    //    //video.src = `${vid}`;
    //    img.width = 330;
    //    img.height = 330;

    //    slika_stupac.appendChild(img);
    //    //ime_stupac.innerHTML = naz;
    //    sastojci_stupac.innerHTML = sas;
    //    opis_stupac.innerHTML = "<b>Instructions: </b><br>" + op;
    //    vrsta_stupac.innerHTML = "<b>Type: </b>" + vrs;


    //    //div.style.visibility = "hidden";
    //    //ime_stupac.appendChild(div);
    //    //row.addEventListener("click", odabran1, false);

    //}
</script>
