
@{
    ViewData["Title"] = "SignIn";
}


<style>
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: darkred;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #b30000;
        }

    #forma {
        width: 60%;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin:auto;
    }
</style>
<body>

    <h3 style="text-align:center;color:darkred">Login</h3>

    <div id="forma">
        <form method="POST" enctype="multipart/form-data" asp-controller="Authentication" asp-action="SignIn">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Your username..">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your password..">


            <input type="submit" name="login" value="Login" />
            <div class="links">
                <a href="#">Lost your password?</a><br />

                <a href="/cocktails/signUp">Don't have an account?</a>
            </div>
        </form>
    </div>

</body>
